{% extends 'client/base.html' %} {% block body_block %}
<div class="container" style="margin-top:5%;">

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-4">
                <label>Enter Email:</label>
                <input type='email' name='email' class='form-control' pattern='^[a-zA-Z]+[a-zA-Z0-9-.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$' required />
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-block" style='margin-left:0%'>Submit</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}