{% extends 'client/base.html' %}


{% block body_block %}
{% if msg %}

 <div class='container' style='margin-top:3%'>
            <div class="alert alert-danger">
            <strong>Oooop's!</strong> {{msg}}
            </div>
        </div>
{% endif %}
    <div class='container' style='margin-top:3%'>
        <div class='row'>
        <form name='' method='POST'>
        {% csrf_token %}
        <div>
            <label>Old Password</label>
            <input type='password' name='old_password' class='form-control' required pattern='.{6,10}' title='Password length must be between 6-10'/>
        </div>
        <div>
            <label>New Password</label>
            <input type='password' name='new_password' class='form-control' required pattern='.{6,10}' title='Password length must be between 6-10'/>
        </div>
        <div>
            <label>Confirm Password</label>
            <input type='password' name='confirm_password' class='form-control' required pattern='.{6,10}' title='Password length must be between 6-10'/>
        </div>
        <div>
            
            <input type='submit' name='submit' value='Submit' class='btn btn-primary'/>
        </div>
        </form>
        </div>
    </div>
{% endblock  %}