<style>
    .help-block {
        margin-top: 5px;
        margin-bottom: 10px;
        opacity: 0.7;
        font-size: 1.0rem;
    }
    
    .display-message {
        font-size: 3.5rem;
        font-weight: 150;
        line-height: 1.2;
    }
    
    .character-counter {
        margin: 0;
        text-align: right;
        font-size: 0.75em;
        font-weight: 400;
        line-height: 1.66667;
        opacity: 0.7;
    }
</style>
{% if lawyer_message.user.first_name %}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Message {{lawyer_message.user.first_name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
    
                </button>
        </div>
        <div class="modal-body">
            <span class='help-block'>Provide some details about your situation, but remember not to include sensitive information. An attorney-client relationship is only formed once an attorney formally agrees to represent you.</span>
            <form method='POST' action='{% url "send_messages" %}'>
                {% csrf_token %}
                <div class="form-group">
                    <input type='hidden' class="form-control" name='lawyer_email' value='{{lawyer_message.user.email}}' id="message-text">
                    <input type='hidden' class="form-control" name='lawyer_first_name' value='{{lawyer_message.user.first_name}}' id="message-text">
                    <input type='hidden' class="form-control" name='lawyer_last_name' value='{{lawyer_message.user.last_name}}' id="message-text">
                </div>
                <div class="form-group">
                    <input type='email' class="form-control" name='client_email' value='{{user.email}}' id="message-text" required>
                </div>
                <div class="form-group">
                    <input type='password' class="form-control" name='password' value='' id="message-text" placeholder='Enter Password..' required>
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Write Message:</label>
                    <p class='character-counter' id='charNum'>2000</p>
                    <textarea class="form-control" id="message-text" name='message' onkeyup="countChar(this)" required></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value='Send message' />
                </div>
            </form>
        </div>

        <div class="modal-body">
            <strong>Note:</strong>
            <span style="font-size:0.9rem;">Please provide valid  credentials for sending messages... if you will not provide valid credentials then
                your message will not be sent to your lawyer.
        </div>
    </div>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>
{% else %} {% load staticfiles %}

<link href='{% static "css/bootstrap.css" %}' rel='stylesheet' />
<div class="jumbotron text-center">
    <h1 class="display-message">Thank You for sending message, You will get reply to your mail id..</h1>
    <br/>

    <p class="lead">
        <a class="btn btn-primary btn-sm" href="{% url 'index' %}" role="button">Continue to Homepage</a>
    </p>
</div>

{% endif %}

{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> {% endcomment %}
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script>
<script>
    function countChar(val) {
        var len = val.value.length;
        if (len >= 2000) {
            val.value = val.value.substring(0, 2000);
        } else {
            $('#charNum').text(2000 - len);
        }
    };
</script>