{% extends 'client/base.html' %} {% load crispy_forms_tags %} {% block body_block %}

<section style='margin-top:5%'>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 col-md-8 col-lg-8 col-xl-6 card">
                <form method='POST'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col text-center">

                            <h1>User Register</h1>

                        </div>
                    </div>
                    <hr/>
                    <div class="row align-items-center">
                        <div class="col mt-4">
                            {{form.username|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col mt-4">
                            {{form.first_name|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col mt-4">
                            {{form.last_name|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            {{form.email|as_crispy_field}}
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            {{form.password|as_crispy_field}}
                        </div>

                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            {{form.confirm_password|as_crispy_field}}
                        </div>

                    </div>
                    <!-- <div class="row justify-content-start mt-4">
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                          I Read and Accept <a href="https://www.froala.com">Terms and Conditions</a>
                        </label>
                            </div>

                        </div> -->

                    <div class="row align-items-center mt-4">
                        <div class="col">

                            <div class="g-recaptcha" data-sitekey="6LdnKbYUAAAAAI9SCXcoi8k4jE6xcHJTv0Pyi393"></div>
                        </div>
                    </div>
                    {% if msg %}
                    <p style='color:red;'>{{msg}} </p>{% endif %}
                    <input type="submit" value="SignUp" class="btn btn-primary mt-4">
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
<script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}