{% extends 'client/base.html' %} {% block body_block %}

<style>
    .statelist {
        padding-top: 0px;
    }
</style>

<div class='container' style='margin-top:5%;'>
    <div class="row">
        <div class='col-xs-12 col-md-10 col-md-offset-1'>
            <div id="js-top-state-link-farm" class="text-columns text-columns-narrowest text-columns-max-3 u-margin-bottom-0">
                <ol class="unstyled-list">
                    {% for s in state %}
                        <li class="u-margin-bottom-half"><a title="Alabama Child Custody Lawyers" href="{% url "practice_area_for_state" %}?state={{s.id}}">{{s.state_name}}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>



{% endblock %}